@media screen and (max-width: 768px) {
  .app-bar {
    .app-bar__inner {
      position: relative;
    }
    .app-bar__brand a {
      font-size: 1.4rem;
    }
    .app-bar__hamburger {
      transition: 0.3s;
    }
    .app-bar__navigation {
      display: block;
      color: $color-2;
      background-color: $color-1;
      border-radius: 3px;
      padding: 50px 60px;
      text-align: center;
  
      position: absolute;
      right: 0;
      top: 70px;
      -webkit-transform: translate(300px, 0);
      transform: translate(300px, 0);
      opacity: 0;
      transition: transform 0.3s, opacity 1s;
      z-index: 9;
    }
    .app-bar__navigation__list {
      flex-direction: column;
      row-gap: 15px;
    }
  
    .open {
      display: block;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
    }
    .close {
      color: crimson;
      transform: rotate(90deg);
    }
  }

  // .hero .hero__inner {
  //   max-height: 100;
  // }

  .footer__inner {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 769px) {
  .app-bar {
    .app-bar__hamburger {
      display: none;
    }
    .app-bar__navigation {
      display: block;
    }
  }

  restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .restaurant-detail .restaurant-detail__header .restaurant-detail__header__address {
    display: inline;
    margin-top: 0;
  }
  .restaurant-detail__menus {
    grid-template-columns: 1fr 1fr;
    h3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .restaurant-detail__reviews .restaurant-detail__review-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .restaurant-detail__reviews .restaurant-detail__review-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

// @media screen and (max-width: 600px) {
//   .footer__inner {
//     flex-direction: column;
//     gap: 10px;
//   }
// }
// @media screen and (min-width: 830px) {
//   .todays-menu__figure {
//     text-align: center;
//   }
//   .todays-menu__figure img {
//     max-height: 400px;
//   }
// }
// @media screen and (min-width: 1000px) {
//   .todays-menu__info {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
//   .todays-menu__name {
//     grid-column-start: 1;
//     grid-column-end: 3;
//   }
// }

