restaurant-detail {
  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .restaurant-detail__header {
    padding: 10px 0;
  }

  .restaurant-detail__name-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 15px;

    .restaurant-detail__name {
      font-size: 1.6rem;
    }

    button {
      font-size: 1rem;
      font-family: $font-1;
      i {
        margin-right: 7px;
      }
    }
  }

  .devider {
    margin: 0 15px;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.18);
    }
  }

  .restaurant-detail__star {
    font-family: $font-1;
    font-weight: 600;
    i {
      color: #c6cc14;
    }
  }

  .restaurant-detail__categories {
    font-size: .95rem;
    margin-bottom: 12px;
  }

  .restaurant-detail__address {
    i {
      margin-right: 4px;
      color: $color-1;
    }
  }

  .restaurant-detail__nav {
    margin-top: 20px;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none;
      
      li {
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        opacity: .7;

        &.active {
          color: $color-1;
          border-bottom: 2px solid $color-1;
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }

  .restaurant-detail__body {
    padding: 20px 20px;
    margin-bottom: 20px;

    .restaurant-detail__body__description {
      text-align: center;
      text-indent: 30px;
      font-size: .92rem;
      line-height: 1.5rem;
    }

    .restaurant-detail__body__menu {
      display: flex;
      justify-content: center;
      column-gap: 100px;

      h4 {
        margin-top: 20px;
        margin-bottom: 8px;
      }

      ul {
        margin-left: 10px;
        li {
          margin-bottom: 5px;
        }
      }
    }

    .restaurant-detail__body__review {
      .restaurant-detail__body__review-item {
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        p {
          font-size: 1.1rem;
          margin-bottom: 5px;
        }
        span {
          font-size: .9rem;
        }
      }
    }
  }
}